@page
@model FitnessLogger.Pages.ExerciseEntry.IndexModel
@{
}

<br>
<h2>Exercise Entry for Today</h2>
<a class='btn btn-primary btn-sm' href='/ExerciseEntry/#'>New Entry</a>
<table class="table">
	<thead>
		<tr>
			<th>EntryID</th>
			<th>ExerciseID</th>
			<th>Weight (lbs)</th>
			<th>Sets</th>
			<th>Repetitions</th>
			<th>Notes</th>
			<th>Action</th>
		</tr>
	</thead>

</table>