@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <!--<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
    <p>ASP.NET Core Web Application With SQL Server Database Connection</p>
    <p>This web application is intended to be used as a journal for users to document their exercise progression on a day-by-day basis. This simplistic yet efficient UI allows users to make comparisons with their previous entries so that they understand what the expectation is for their upcoming exercise session i.e. what personal records they need to try to beat.</p>
</div>
